@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/aldinezi/dotnetcore-jokester" target="_blank" class="ml-md-auto">
            <div class="github-ico"></div>
        </a>
    </div>

    <div class="content px-4 relative">
        @Body
    </div>
</div>
